<!DOCTYPE html>
<h2 style ="text-align: center"> Registracija </h2>



<p-tabMenu [model]="items"  [activeItem]="items[0]" (click) = "prikazi()" >
        <ng-template pTemplate="item" let-item let-i="index">
                <div style="position: relative; text-align: center;padding:8px; width: 4cm; font-weight: bold; font-size:15px;">
                        
                        <div class="ui-menuitem-text">
                            {{item.label}}
                        </div>
                        
                    </div>
            </ng-template>
</p-tabMenu>

<form *ngIf = "pokaziStudenta"  [formGroup]="frmSignup" (submit)="submit(student)"  style = "margin:0 auto; margin-top:80px; width:60%;  border: 2px solid #5E5656; padding:20px; background-color: #D8DAD3;">
    
        <div class="ui-g">
                <div class="ui-g-2">Unesite ime: </div>
                <div class="ui-g-4">
                        <input style ="width: 100%" type="text" pInputText name = 'ime' [(ngModel)] = 'ime' [ngModelOptions]="{standalone: true}" />
                    </div>
                <div class="ui-g-2" >Unesite prezime: </div>
                <div class="ui-g-4">
                        <input style ="width: 100%" type="text" pInputText name = 'prezime' [(ngModel)] = 'prezime' [ngModelOptions]="{standalone: true}" />

                </div>
            

            
                    <div class="ui-g-2">
                        <label> Korisnicko ime:</label>  
                    </div>
                    <div class="ui-g-10">
                            <input style ="width: 100%" type="text" pInputText formControlName = 'korime'  >
                            <hr>
                            <label style = "color:red;" >   {{porukaRegistrovanje}} </label>
                     </div>
                   
           


           


                
                        <div class="ui-g-2">Lozinka: </div>
                        <div class="ui-g-10" >
                                <input type="password" style ="width: 100%;" pPassword name = 'lozinka'  formControlName="password" type="password" class="form-control" [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''" >
                                
                     <hr>

                    <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength') || frmSignup.controls['password'].hasError('maxlength'); then nista0; else upozorenje0 ">
                             </ng-template>
                          
                          <ng-template #nista0> 
                              <p-message severity="error" text=" Mora imati od 8 do 12 slova!"></p-message>
                       </ng-template>
                          
                    </label>
              
                       <hr>
                      
                      <label >
                        
                          <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                          frmSignup.controls['password'].hasError('hasNumber'); then nista; else upozorenje ">
                        </ng-template>
                   <!--   <ng-template #upozorenje><p-message severity="success" text="Ima jednu cifru!"></p-message></ng-template> -->
                        <ng-template #nista> <p-message severity="error" text=" Mora imati bar jednu cifru"></p-message></ng-template>
                        
                      </label>
                      <hr/>

                      <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('hasCapitalCase'); then nista1; else upozorenje1 ">
                             </ng-template>
                     
                          <ng-template #nista1> <p-message severity="error" text=" Mora imati bar jedno veliko slovo!"></p-message></ng-template>
                          
                    </label>
                    <hr>

                    <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('hasSmallCase'); then nista2; else upozorenje2 ">
                             </ng-template>
                         
                          <ng-template #nista2><p-message severity="error" text=" Mora imati bar 3 mala slova!"></p-message></ng-template>
                          
                    </label>
                    <hr>

                    <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('firstChar'); then nista3; else upozorenje3 ">
                             </ng-template>
                         
                          <ng-template #nista3> <p-message severity="error" text=" Mora poceti slovom!"></p-message></ng-template>
                          
                    </label>
                    <hr>

                   <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('noTwoSameConsecutive'); then netacnoIma; else tacnoNema ">
                             </ng-template>
                         
                          <ng-template #netacnoIma> <p-message severity="error" text=" Ne sme imati 2 ista uzastopna znaka"></p-message> </ng-template>
                          
                    </label>
                    <hr>
 
                    <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('hasSpecialCharacters'); then nista4; else upozorenje4 ">
                             </ng-template>
                         
                          <ng-template #nista4> <p-message severity="error" text=" Mora imati 1 specijalan znak"></p-message> </ng-template>
                          
                    </label>
                                               
                     </div>
                  


                  
                      <div class = "ui-g-2">
                          Potvrdi lozinku:
                      </div>
                      <div class ="ui-g-10">
                            
                                    
                                 
                                    <input pInputText style = "width:100%;" id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                                      [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
                                      <hr>
                                    <label *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                                            <p-message severity="error" text=" Morate potvrditi lozinku!"> </p-message>
                                    </label>
                                    <label *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                                            <p-message severity="error" text=" Lozinke se ne podudaraju!"> </p-message>
                                    </label>
                                  
                      </div>
                 

                  
                  
                        <div class="ui-g-2">Unesite e-mail: </div>
                        <div class="ui-g-10">
                                <input pInputText style ="width: 100%;" id="email" formControlName="email" type="email" class="form-control" [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''">
                                <hr>
                                <label  *ngIf="frmSignup.controls['email'].hasError('required')">
                                        <p-message severity="error" text="Morate uneti e-mail adresu!"></p-message>
                                </label>
                                <label *ngIf="frmSignup.controls['email'].hasError('email')">
                                        <p-message severity="error" text=" Morate uneti validan e-mail! "></p-message>
                                </label>                        </div>
                       
                   


                  
                        <div class="ui-g-2"> Kontakt telefon: </div>
                        <div class="ui-g-10">
                                <input style ="width: 100%" type="text" pInputText name = 'telefon' [(ngModel)] = 'telefon' [ngModelOptions]="{standalone: true}" >
                    </div>
                       
                


                    
                            <div class="ui-g-3"> Godina studija: </div>
                            <div class="ui-g-9" style = "text-align: left;">
                                    <input style ="width: 1cm" type="text" pInputText name = 'godinaStudija' [(ngModel)] = 'godinaStudija' [ngModelOptions]="{standalone: true}" >
                                     </div>
                           
                       


                        
                                <div class="ui-g-3"> Diplomirao(da/ne): </div>
                                <div class="ui-g-9" style = "text-align: left;">
                                        <input style ="width: 1cm" type="text" pInputText name = 'diplomirao' [(ngModel)] = 'diplomirao' [ngModelOptions]="{standalone: true}" >
                                         </div>
                               
                           

                           
                                    <div class="ui-g-12" >
                                     <button (click) = "filePicker.click()" style ="width: 100%;font-weight: bold; color: #5E5656;border: 1px solid #5E5656;" pButton type="button" label="Dodajte fotografiju" class="ui-button-rounded ui-button-secondary"></button>
                                    </div>
            
                                    <div class="ui-g-12" >
                                                <input type ="file" #filePicker style = "visibility: hidden;" (change)="onImagePicked($event)">                            
                                         </div>
                    
            
                                
                             
            
                          
                             
                        </div>

                       
                                 <div  style = "text-align: center;" class = "image-preview" *ngIf = "imagePreview !== '' && imagePreview && frmSignup.get('image').valid && flag === false" >
                                        <img [src] = "imagePreview" />                            
                                 </div>
                                 <hr>
                                
                                 <ng-template *ngIf = "imagePreview && flag===false;then razmak;"></ng-template>
            
                                 <ng-template #razmak><hr><hr></ng-template>
                                 <p style ="color:red;text-align: center;" > {{poruka }}</p>
                              
            
                                        <div class="form-group" style ="text-align: center;">
                                                <button [disabled]="frmSignup.invalid || flag" type="submit" style = "font-weight: bold; color: #5E5656;border: 1px solid #5E5656;" pButton label="REGISTRUJTE SE" class="ui-button-rounded ui-button-secondary">
                                                  </button>
                                              </div>
                                             

</form> 

                  
<form *ngIf = "pokaziKompaniju"  [formGroup]="frmSignup" (submit)="submit(kompanija)"  style = "margin:0 auto; margin-top:80px; width:60%;  border: 2px solid #5E5656; padding:20px; background-color: #D8DAD3;">
    
       

            <div class="ui-g" >
                    <div class="ui-g-2">
                        <label> Korisnicko ime:</label>  
                    </div>
                    <div class="ui-g-10">
                            <input style ="width: 100%" type="text" pInputText formControlName = 'korime' >
                            <hr>
                            <label style = "color:red;" >   {{porukaRegistrovanje}} </label>
                     </div>
                   
            

            
                    <div class="ui-g-2">Unesite e-mail: </div>
                    <div class="ui-g-10">
                            <input pInputText style ="width: 100%;" id="email" formControlName="email" type="email" class="form-control" [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''">
                            <hr>
                            <label  *ngIf="frmSignup.controls['email'].hasError('required')">
                                    <p-message severity="error" text="Morate uneti e-mail adresu!"></p-message>
                            </label>
                            <label *ngIf="frmSignup.controls['email'].hasError('email')">
                                    <p-message severity="error" text=" Morate uneti validan e-mail! "></p-message>
                            </label>                        
                </div>
                   
                


           


               
                        <div class="ui-g-2">Lozinka: </div>
                        <div class="ui-g-10" >
                                <input type="password" style ="width: 100%;" pPassword name = 'lozinka'  formControlName="password" type="password" class="form-control" [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''" >
                                
                     <hr>

                    <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength') || frmSignup.controls['password'].hasError('maxlength'); then nista0; else upozorenje0 ">
                             </ng-template>
                          
                          <ng-template #nista0> 
                              <p-message severity="error" text=" Mora imati od 8 do 12 slova!"></p-message>
                       </ng-template>
                          
                    </label>
              
                       <hr>
                      
                      <label >
                        
                          <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                          frmSignup.controls['password'].hasError('hasNumber'); then nista; else upozorenje ">
                        </ng-template>
                   <!--   <ng-template #upozorenje><p-message severity="success" text="Ima jednu cifru!"></p-message></ng-template> -->
                        <ng-template #nista> <p-message severity="error" text=" Mora imati bar jednu cifru"></p-message></ng-template>
                        
                      </label>
                      <hr/>

                      <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('hasCapitalCase'); then nista1; else upozorenje1 ">
                             </ng-template>
                     
                          <ng-template #nista1> <p-message severity="error" text=" Mora imati bar jedno veliko slovo!"></p-message></ng-template>
                          
                    </label>
                    <hr>

                    <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('hasSmallCase'); then nista2; else upozorenje2 ">
                             </ng-template>
                         
                          <ng-template #nista2><p-message severity="error" text=" Mora imati bar 3 mala slova!"></p-message></ng-template>
                          
                    </label>
                    <hr>

                    <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('firstChar'); then nista3; else upozorenje3 ">
                             </ng-template>
                         
                          <ng-template #nista3> <p-message severity="error" text=" Mora poceti slovom!"></p-message></ng-template>
                          
                    </label>
                    <hr>

                   <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('noTwoSameConsecutive'); then netacnoIma; else tacnoNema ">
                             </ng-template>
                         
                          <ng-template #netacnoIma> <p-message severity="error" text=" Ne sme imati 2 ista uzastopna znaka"></p-message> </ng-template>
                          
                    </label>
                    <hr>
 
                    <label >
                        
                            <ng-template *ngIf = "frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('hasSpecialCharacters'); then nista4; else upozorenje4 ">
                             </ng-template>
                         
                          <ng-template #nista4> <p-message severity="error" text=" Mora imati 1 specijalan znak"></p-message> </ng-template>
                          
                    </label>
                                               
                     </div>
                 


                 
                      <div class = "ui-g-2">
                          Potvrdi lozinku:
                      </div>
                      <div class ="ui-g-10">
                            
                                    
                                 
                                    <input pInputText style = "width:100%;" id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                                      [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
                                      <hr>
                                    <label *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                                            <p-message severity="error" text=" Morate potvrditi lozinku!"> </p-message>
                                    </label>
                                    <label *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                                            <p-message severity="error" text=" Lozinke se ne podudaraju!"> </p-message>
                                    </label>
                                  
                      </div>
                  
                 
                        <div class="ui-g-2"> Naziv kompanije: </div>
                        <div class="ui-g-10">
                                <input style ="width: 100%" type="text" pInputText name = 'naziv' [(ngModel)] = 'naziv' [ngModelOptions]="{standalone: true}" >
                    </div>
                       
               


               
                        <div class="ui-g-2"> Grad: </div>
                        <div class="ui-g-10">
                                <input style ="width: 100%" type="text" pInputText name = 'grad' [(ngModel)] = 'grad' [ngModelOptions]="{standalone: true}" >
                    </div>
                       
                

                
                        <div class="ui-g-2"> Adresa: </div>
                        <div class="ui-g-10">
                                <input style ="width: 100%" type="text" pInputText name = 'adresa' [(ngModel)] = 'adresa' [ngModelOptions]="{standalone: true}" >
                    </div>
                       
                




                   
                            <div class="ui-g-2"> Direktor: </div>
                            <div class="ui-g-10">
                                    <input style ="width: 100%" type="text" pInputText name = 'direktor' [(ngModel)] = 'direktor' [ngModelOptions]="{standalone: true}" >
                        </div>
                           
                   





                   
                            <div class="ui-g-2"> PIB: </div>
                            <div class="ui-g-10">
                                    <input style ="width: 100%" type="text" pInputText name = 'PIB' [(ngModel)] = 'PIB' [ngModelOptions]="{standalone: true}" >
                        </div>
                           
                    

                   
                            <div class="ui-g-3"> Broj zaposlenih: </div>
                            <div class="ui-g-9" style ="text-align: left;">
                                    <input style ="width: 1cm" type="text" pInputText name = 'trenutnoZaposlenih' [(ngModel)] = 'trenutnoZaposlenih' [ngModelOptions]="{standalone: true}" >
                        </div>
                   

                   
                            <div class="ui-g-2"> Web sajt: </div>
                            <div class="ui-g-10">
                                    <input style ="width: 100%" type="text" pInputText name = 'sajt' [(ngModel)] = 'sajt' [ngModelOptions]="{standalone: true}" >
                       
                           
                    </div>

                    
                            <div class="ui-g-2"> Delatnost: </div>
                            <div class="ui-g-10">
                                <select name ="delatnost" [(ngModel)] = "delatnost" [ngModelOptions]="{standalone: true}" style ="width: 100%; font-weight: bold; padding:5px; font-size: 15px;">
                                    <option value = "IT" selected > IT </option>
                                    <option value = "Telekomunikacije" > Telekomunikacije </option>
                                    <option value = "Energetika" > Energetika </option>
                                    <option value = "Gradjevina i arhitektura" > Gradjevina i arhitektura </option>
                                    
                                    <option value = "Masinstvo" > Masinstvo </option>
                                    <option value = "Drugo" > Drugo.. </option>

                                </select>
                        </div>
                           
                 


                  
                            <div class="ui-g-2"> Uza specijalnost: </div>
                            <div class="ui-g-10">
                                    <input style ="width: 100%;" type="text" pInputText name = 'uzaspec' [(ngModel)] = 'uzaSpecijalnost' [ngModelOptions]="{standalone: true}" >
                        </div>
                           
                   

                   
                        <div class="ui-g-12" >
                         <button (click) = "filePicker.click()" style ="width: 100%;font-weight: bold; color: #5E5656;border: 1px solid #5E5656;" pButton type="button" label="Dodajte fotografiju" class="ui-button-rounded ui-button-secondary"></button>
                        </div>

                         <div class="ui-g-12" >
                            <input type ="file" #filePicker style = "visibility: hidden;" (change)="onImagePicked($event)">                            
                     </div>

                    
                 
            </div>
            <div style = "text-align: center;" class = "image-preview" *ngIf = "imagePreview !== '' && imagePreview && frmSignup.get('image').valid && flag === false" >
                        <img [src] = "imagePreview" />                            
                 </div>
                 <hr>

                
            

           <ng-template *ngIf = "imagePreview && flag===false;then razmak;"></ng-template>

           <ng-template #razmak><hr><hr><hr></ng-template>
           <p style ="color:red;text-align: center;" > {{poruka }}</p>

                            <div class="form-group" style ="text-align: center;">
                                    <button [disabled]="frmSignup.invalid || flag" type="submit" style = "font-weight: bold; color: #5E5656;border: 1px solid #5E5656;" pButton label="REGISTRUJTE SE" class="ui-button-rounded ui-button-secondary">
                                      </button>
                                  </div>

</form>                 
    
 